<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    <h1> Inventory Structure </h1>
    <p> The inventory will be structured by sections for each type of item and locations.</p>
    <p> Tools will got to the tool section</p>
    <p> The inventory will be stored in a database</p>
    <p> Each tool will have a unique ID and a attached qr code</p>
    <p> The qr code will be printed on the tool and can be scanned to update the inventory</p>
  </body>
</html>

